.container {
    max-width: 1440px;
    margin: 0 auto;    
    padding: 25px 20px 100px 20px;

    @include breakpoint(large){
        padding: 73px 60px 87px 60px;
    }

    &--small {
        @extend .container;
        max-width: 920px;
    }
}