html {
    font-size: 100%;
}

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    font-family: $font-body;
    font-size: calc(1rem + 0.75vw);
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

*, a {
    color: #ffffff;
}

a, p {
    font-size: 0.875rem;
    
    @include breakpoint(large){
        font-size: 1rem;
    }    
}

a {
    text-decoration: none;    
}

h1, h2, h3 {
    font-family: $font-title;
    margin-top: 0px;
}

h2.small {
    font-size: 1.3em;
}

h2.large {
    font-size: 1.6em;
}

p {    
    margin-top: 0px;
    margin-bottom: 1.5em;
}

section {
    background-color: $mainBg;    
}
