header {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) repeat(3, auto);
    grid-gap: 20px;
    align-items: center;
    background-color: $introBg;
    padding: 25px 20px 50px 20px;

    @include breakpoint(large){
        grid-gap: 56px;
        padding: 73px 80px;
    }

    img {
        width: 83px;

        @include breakpoint(large){
            width: 185px;
        }
    }

    a {
        font-size: 0.875rem;

        @include breakpoint(large){
            font-size: 1rem;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}